.field {
	--color: #a6accd;
	--border-color: var(--color-ghost-outline);

	display: grid;
	row-gap: var(--padding-inline);

	&:hover, input:focus, input:focus ~ * {
		--color: #fff;
		--border-color: var(--color-primary-outline);
	}

	input:focus {
		--border: 2px;
	}

	label {
		grid-row-start: 1;
		color: var(--color);
		font-weight: 600;
		transition: color .2s;
	}

	input {
		padding: var(--padding-inline) var(--padding);
		background-color: unset;
		box-shadow: inset 0 0 0 var(--border) var(--border-color);
		border-radius: var(--border-radius);
		font-family: inherit;
		font-size: inherit;
		color: var(--color);
		transition: color .2s, box-shadow .2s;
		border: none;
		outline: none;
	}
}
