@use 'list';


:root {
	display: grid;
	grid-gap: var(--padding) var(--margin);
	grid-template-columns: repeat(var(--columns), auto);
	justify-content: center;
	justify-items: center;
	align-items: flex-start;
	margin-bottom: var(--margin);

	#{list.$root} {
		min-width: 32rem;
	}
}
