:root {
	width: 100%;
	max-height: 60vh;
	padding: var(--padding);
	overflow: auto;

	&--inline {
		--spacing: calc(2 * var(--border-radius));

		padding-right: var(--spacing);
		padding-left: var(--spacing);
	}

	@at-root [class^=#{str-slice(#{&}--, 2)}], & {
		display: inline-block;
		tab-size: 4;
		background-color: var(--color-background-sheet);
		border-radius: var(--border-radius);

		a &, button & {
			color: var(--color-foreground);
		}
	}

	.comment {
		color: #75715e;
	}

	.string {
		color: #e6db74;
	}

	.constant {
		color: #ae81ff;

		&.numeric {}

		&.language {}

		&.character {}

		&.other {}
	}

	.variable {
		&.parameter {
			color: #fd971f;
			font-style: italic;
		}
	}

	.keyword {
		color: #f92672;
	}

	.storage {
		color: #f92672;

		&.type {
			color: #66d9ef;
			font-style: italic;
		}
	}

	.entity {
		&.name.class {
			color: #a6e22e;
			font-style: underline;
		}

		&.other.inherited-class {
			color: #a6e22e;
			font-style: underline;
			font-style: italic;
		}

		&.name.function {
			color: #a6e22e;
		}

		&.name.tag {
			color: #f92672;
		}

		&.other.attribute-name {
			color: #a6e22e;
		}
	}

	.support {
		color: #66d9ef;

		&.constant {}

		&.type {
			font-style: italic;
		}

		&.class {
			font-style: italic;
		}

		&.other.variable {}
	}

	.invalid {
		color: #f8f8f0;
		background-color: #f92672;

		&.deprecated {
			background-color: #ae81ff;
		}
	}
}
