%title-main {
	--weight: 400;

	color: #fff;
}


:root {
	@extend %title-main;

	--size: 5rem;

	&--headline {
		@extend %title-main;

		--size: 6rem;

		letter-spacing: -1px;
	}

	&--section {
		--size: 3rem;
		--weight: 400;

		color: #a6accd;
	}

	&--sub-section {
		--size: 2rem;
		--weight: 700;

		color: #5e668a;
	}

	@at-root [class^=#{str-slice(#{&}--, 2)}], & {
		margin-top: 0;
		margin-bottom: var(--padding);
		font-size: var(--size);
		font-weight: var(--weight);
	}
}
