%loading {
	&.loading {
		color: #0000;
		pointer-events: none;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			width: 2.2rem;
			height: 2.2rem;
			border: 2px solid #0000;
			border-top-color: #fff;
			border-radius: 50%;
			margin-left: -1.3rem;
			animation: spin 1s linear infinite;
		}
	}
}
